@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #F7F8F9;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #868499;
}

h1,
.logo {
  color: #363355;
  font-weight: 900;
}

h1 {
  margin-bottom: 15px;
}

p {
  font-size: 0.8rem;
  color: #868499;
  line-height: 1.8;
}

#main {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_ja_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_j_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_a_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_j_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_j_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.flex_2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 0;
          flex: 2 0;
}

.flex_3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 0;
          flex: 3 0;
}

.flex_4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 0;
          flex: 4 0;
}

.flex_5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 0;
          flex: 5 0;
}

.w_p_30 {
  width: 30%;
}

.w_p_50 {
  width: 50%;
}

.w_v_50 {
  width: 50vw;
}

.h_p_50 {
  height: 50%;
}

.h_v_50 {
  height: 50vh;
}

.w_p_100 {
  width: 100%;
}

.w_v_100 {
  width: 100vw;
}

.h_p_100 {
  height: 100%;
}

.h_v_100 {
  height: 100vh;
}

.m_t_5 {
  margin-top: 5px !important;
}

.p_t_5 {
  padding-top: 5px !important;
}

.m_b_5 {
  margin-bottom: 5px !important;
}

.p_b_5 {
  padding-bottom: 5px !important;
}

.m_l_5 {
  margin-left: 5px !important;
}

.p_l_5 {
  padding-left: 5px !important;
}

.m_r_5 {
  margin-right: 5px !important;
}

.p_r_5 {
  padding-right: 5px !important;
}

.m_a_5 {
  margin: 5px !important;
}

.p_a_5 {
  padding: 5px !important;
}

.m_t_10 {
  margin-top: 10px !important;
}

.p_t_10 {
  padding-top: 10px !important;
}

.m_b_10 {
  margin-bottom: 10px !important;
}

.p_b_10 {
  padding-bottom: 10px !important;
}

.m_l_10 {
  margin-left: 10px !important;
}

.p_l_10 {
  padding-left: 10px !important;
}

.m_r_10 {
  margin-right: 10px !important;
}

.p_r_10 {
  padding-right: 10px !important;
}

.m_a_10 {
  margin: 10px !important;
}

.p_a_10 {
  padding: 10px !important;
}

.m_t_15 {
  margin-top: 15px !important;
}

.p_t_15 {
  padding-top: 15px !important;
}

.m_b_15 {
  margin-bottom: 15px !important;
}

.p_b_15 {
  padding-bottom: 15px !important;
}

.m_l_15 {
  margin-left: 15px !important;
}

.p_l_15 {
  padding-left: 15px !important;
}

.m_r_15 {
  margin-right: 15px !important;
}

.p_r_15 {
  padding-right: 15px !important;
}

.m_a_15 {
  margin: 15px !important;
}

.p_a_15 {
  padding: 15px !important;
}

.m_t_20 {
  margin-top: 20px !important;
}

.p_t_20 {
  padding-top: 20px !important;
}

.m_b_20 {
  margin-bottom: 20px !important;
}

.p_b_20 {
  padding-bottom: 20px !important;
}

.m_l_20 {
  margin-left: 20px !important;
}

.p_l_20 {
  padding-left: 20px !important;
}

.m_r_20 {
  margin-right: 20px !important;
}

.p_r_20 {
  padding-right: 20px !important;
}

.m_a_20 {
  margin: 20px !important;
}

.p_a_20 {
  padding: 20px !important;
}

.m_t_25 {
  margin-top: 25px !important;
}

.p_t_25 {
  padding-top: 25px !important;
}

.m_b_25 {
  margin-bottom: 25px !important;
}

.p_b_25 {
  padding-bottom: 25px !important;
}

.m_l_25 {
  margin-left: 25px !important;
}

.p_l_25 {
  padding-left: 25px !important;
}

.m_r_25 {
  margin-right: 25px !important;
}

.p_r_25 {
  padding-right: 25px !important;
}

.m_a_25 {
  margin: 25px !important;
}

.p_a_25 {
  padding: 25px !important;
}

.m_t_30 {
  margin-top: 30px !important;
}

.p_t_30 {
  padding-top: 30px !important;
}

.m_b_30 {
  margin-bottom: 30px !important;
}

.p_b_30 {
  padding-bottom: 30px !important;
}

.m_l_30 {
  margin-left: 30px !important;
}

.p_l_30 {
  padding-left: 30px !important;
}

.m_r_30 {
  margin-right: 30px !important;
}

.p_r_30 {
  padding-right: 30px !important;
}

.m_a_30 {
  margin: 30px !important;
}

.p_a_30 {
  padding: 30px !important;
}

.m_t_35 {
  margin-top: 35px !important;
}

.p_t_35 {
  padding-top: 35px !important;
}

.m_b_35 {
  margin-bottom: 35px !important;
}

.p_b_35 {
  padding-bottom: 35px !important;
}

.m_l_35 {
  margin-left: 35px !important;
}

.p_l_35 {
  padding-left: 35px !important;
}

.m_r_35 {
  margin-right: 35px !important;
}

.p_r_35 {
  padding-right: 35px !important;
}

.m_a_35 {
  margin: 35px !important;
}

.p_a_35 {
  padding: 35px !important;
}

.m_t_40 {
  margin-top: 40px !important;
}

.p_t_40 {
  padding-top: 40px !important;
}

.m_b_40 {
  margin-bottom: 40px !important;
}

.p_b_40 {
  padding-bottom: 40px !important;
}

.m_l_40 {
  margin-left: 40px !important;
}

.p_l_40 {
  padding-left: 40px !important;
}

.m_r_40 {
  margin-right: 40px !important;
}

.p_r_40 {
  padding-right: 40px !important;
}

.m_a_40 {
  margin: 40px !important;
}

.p_a_40 {
  padding: 40px !important;
}

.m_t_45 {
  margin-top: 45px !important;
}

.p_t_45 {
  padding-top: 45px !important;
}

.m_b_45 {
  margin-bottom: 45px !important;
}

.p_b_45 {
  padding-bottom: 45px !important;
}

.m_l_45 {
  margin-left: 45px !important;
}

.p_l_45 {
  padding-left: 45px !important;
}

.m_r_45 {
  margin-right: 45px !important;
}

.p_r_45 {
  padding-right: 45px !important;
}

.m_a_45 {
  margin: 45px !important;
}

.p_a_45 {
  padding: 45px !important;
}

.m_t_50 {
  margin-top: 50px !important;
}

.p_t_50 {
  padding-top: 50px !important;
}

.m_b_50 {
  margin-bottom: 50px !important;
}

.p_b_50 {
  padding-bottom: 50px !important;
}

.m_l_50 {
  margin-left: 50px !important;
}

.p_l_50 {
  padding-left: 50px !important;
}

.m_r_50 {
  margin-right: 50px !important;
}

.p_r_50 {
  padding-right: 50px !important;
}

.m_a_50 {
  margin: 50px !important;
}

.p_a_50 {
  padding: 50px !important;
}

.m_t_75 {
  margin-top: 75px !important;
}

.p_t_75 {
  padding-top: 75px !important;
}

.m_b_75 {
  margin-bottom: 75px !important;
}

.p_b_75 {
  padding-bottom: 75px !important;
}

.m_l_75 {
  margin-left: 75px !important;
}

.p_l_75 {
  padding-left: 75px !important;
}

.m_r_75 {
  margin-right: 75px !important;
}

.p_r_75 {
  padding-right: 75px !important;
}

.m_a_75 {
  margin: 75px !important;
}

.p_a_75 {
  padding: 75px !important;
}

.m_t_100 {
  margin-top: 100px !important;
}

.p_t_100 {
  padding-top: 100px !important;
}

.m_b_100 {
  margin-bottom: 100px !important;
}

.p_b_100 {
  padding-bottom: 100px !important;
}

.m_l_100 {
  margin-left: 100px !important;
}

.p_l_100 {
  padding-left: 100px !important;
}

.m_r_100 {
  margin-right: 100px !important;
}

.p_r_100 {
  padding-right: 100px !important;
}

.m_a_100 {
  margin: 100px !important;
}

.p_a_100 {
  padding: 100px !important;
}

.pos_a {
  position: absolute;
}

.pos_r {
  position: relative;
}

.z_1 {
  z-index: 1;
}

.font_white {
  color: #fff;
}

.font_purple {
  color: #666EE8;
}

.bg_white {
  background-color: #ffffff;
}

.bg_img {
  background-size: cover;
  background-position: center;
}

.bg_jog {
  background-image: url(/images/jog.jpg?2ecf6efed323b8183192bab522e503f0);
}

.bg_food {
  background-image: url(/images/food.jpg?89b7724a5b771615e18b46160854224f);
}

.bg_cover_purple {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #363355;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-size: 0.8rem;
}

.login_form button,
.register_form button {
  width: 100%;
}

.login_form a,
.register_form a {
  color: #363355;
  font-size: 0.8rem;
  margin-top: 20px;
  width: 100%;
}

.login_form a i,
.register_form a i {
  font-style: normal;
  color: #666EE8;
}

input {
  width: 100%;
  padding: 20px 0px;
  border: none;
  border-bottom: 1px solid #868499;
  font-size: 0.8rem;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #868499;
}

input:-ms-input-placeholder {
  color: #868499;
}

input::-ms-input-placeholder {
  color: #868499;
}

input::placeholder {
  color: #868499;
}

button {
  background-color: #666EE8;
  color: #ffffff;
  border: none;
  padding: 18px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.passwordLink {
  color: #868499 !important;
}

.error_box {
  padding: 20px;
  background-color: #e8667e;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-top: 20px;
}

.copyright {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
}

