// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Variables
@import 'variables';
@import 'reset';

// Containers
#main { width: 100%; height: 100%; }
.box_container {
	width: 100%;
	height: 100%;
	background-color: #363355ee;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999;
	justify-content: center;
	align-items: center;
	opacity: 0;
	.box {
		width: 50vw;
		background-color: #fff;
		padding: 45px;
		border-radius: 10px;
		span { font-size: 3em; margin-right: 10px; }
		i { font-size: 0.8rem; color: $grey; }
	}
	.cancel {
		border: 1px solid $grey;
		color: $grey;
		background-color: #fff;
	}
}
.toggle_opacity {
	display: none;
	opacity: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
// Flex
.flex_ja_center {
	justify-content: center;
	align-items: center;
}
.flex_j_center { justify-content: center; }
.flex_a_center { align-items: center; }
.flex_j_between { justify-content: space-between; }
.flex_j_around { justify-content: space-around; }
.flex_c { flex-direction: column; } // Module Column
.flex_r { flex-direction: row; } // Module Row
.d_flex { display: flex!important; }
$flexamounts: (1, 2, 3, 4, 5); // Adjust this to include the pixel amounts you need.
@each $flex in $flexamounts {
    .flex_#{$flex} {
    	flex: #{$flex} 0;
    }
}
// Widths & Heights
.w_p_30 { width: 30%; }
.w_p_50 { width: 50%; }
.w_v_50 { width: 50vw; }
.h_p_50 { height: 50%; }
.h_v_50 { height: 50vh; }
.w_p_100 { width: 100%; }
.w_v_100 { width: 100vw; }
.h_p_100 { height: 100%; }
.h_v_100 { height: 100vh; }
// Paddings & Margins
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right, all); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m_#{str-slice($side, 0, 1)}_#{$space} {
    	@if $side == 'all' {
    		margin: #{$space}px !important;
    	} @else {
      		margin-#{$side}: #{$space}px !important;
      	}
    }
  
    .p_#{str-slice($side, 0, 1)}_#{$space} {
      @if $side == 'all' {
    		padding: #{$space}px !important;
    	} @else {
      		padding-#{$side}: #{$space}px !important;
      	}
    }
  }
}
// Positions
.pos_a { position: absolute; }
.pos_r { position: relative; }
.z_1 { z-index: 1; }
// Font
.font_white { color: #fff; }
.font_grey { color: $grey; }
.font_purple { color: $purple; }
// Backgrounds
.bg_white { background-color: #ffffff; }
.bg_img {
	background-size: cover;
	background-position: center;
}
.bg_jog { background-image: url('../img/jog.jpg'); }
.bg_food { background-image: url('../img/food.jpg'); }
.bg_cover_purple {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $dark_purple;
	opacity: 0.7;
	top: 0;
	left: 0;
	z-index: 0;
}

// Navs
nav {
	display: flex;
	justify-content: space-between;
	ul {
		display: flex;
		li {
			margin-right: 10px;
			&:last-child { margin-right: 0; }
			a { font-size: 0.8rem; }
		}
		.active { color: $purple; font-weight: 900; }
		.user_icon_container {
			display: flex;
			flex-direction: row;
			margin-left: 10px;
			align-items: center;
			background-color: #fff;
			border-radius: 15px;
			cursor: pointer;
			position: relative;
			
			.user_icon {
				width: 30px;
				height: 30px;
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				background-color: $purple;
			}
			.username {
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0px 15px;
				font-size: 0.8rem;
				color: $grey;
			}

			.dropdown {
				position: absolute;
				background: #fff;
				border-radius: 10px;
				right: 0px;
				top: 40px;
				box-shadow: 0px 3px 12px 0px #dddddddd;
				height: 0;
				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				li { margin: 0 }
			}
		}
	}
}

// Forms 
.login_form, .register_form {
	button {
		width: 100%;
	}
	a {
		color: $dark_purple;
		font-size: 0.8rem;
		margin-top: 20px;
		width: 100%;
		i {
			font-style: normal;
			color: $purple;
		}
	}
}

input {
	width: 100%;
	padding: 20px 0px;
	border: none;
	border-bottom: 1px solid $grey;
	font-size: 0.8rem;
	&:focus {
		 outline: none;
	}
	&::placeholder { color: $grey; }
}
button {
	background-color: $purple;
	color: #ffffff;
	border: none;
	padding: 18px;
	border-radius: 10px;
	margin-top: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.points_container {
	color: $grey;
	font-size: 0.9rem;
	font-weight: 900;
}

#tasks {
	width: 100%;
}
.task_container {
	width: calc((100vw / 5) - 37px);
    height: calc((100vw / 5) - 37px); // Makes it equal to width: Square
	display: flex;
	justify-content: space-between;
	padding: 2vw;
	background-color: #ffffff;
	margin: 0 20px 20px 0;
	float: left;
	flex-direction: column;
	&:nth-child(5n) {
		margin-right: 0px;
	}
	span {
		font-size: 0.8rem;
		color: $grey;
		margin-bottom: 10px;
		width: 100%;
	}
	h2 {
		font-size: 0.9rem;
		color: $purple;
		font-weight: 600;
		width: 100%;
	}
	.points { color: $purple; }
	.confirm_task, .task_completed {
		color: $grey;
		padding: 10px;
		border: 1px solid $grey;
		border-radius: 60px;
		font-size: 0.8rem;
		display: flex;
		justify-content: center;
		cursor: pointer;
		transition: 0.2s ease all;
		&:hover {
			background-color: $purple;
			color: #fff;
			border: 1px solid $purple;
		}
	}

	.task_completed {
		border: 1px solid $purple;
		color: #fff;
		background-color: $purple;
		cursor: default;
	}

}
.passwordLink { color: $grey!important; }
.error_box { // Used for forms
	padding: 20px;
	background-color: #e8667e;
	color: #ffffff;
	border-radius: 10px;
	font-size: 0.8rem;
	margin-top: 20px;
}
.settings {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
	nav {
		flex: 0 200px;
		margin-right: 30px;
		background-color: #fff;
		padding: 30px;
		max-height: 200px;
		border-radius: 10px;
		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			li { margin-bottom: 15px;  }
			li a.active { color: $purple; }
		}
	}
	.body {
		flex: 1 0;
		background-color: #fff;
		padding: 30px 65px;
		border-radius: 10px;
		min-height: 50vh; 
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			input { width: 100%; }
			button { max-width: 300px; }
		}
	}
}

.top_three {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.user {
		display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		min-width: 30vw;
		box-shadow: 0px 3px 12px 0px #dddddddd;
		min-height: 20vw;
		.user_avatar {
			background-color: $purple;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 1rem;
			width: 70px;
			height: 70px;
			border-radius: 35px;
			margin-bottom: 10px;
		}
		.points_container {
			margin-bottom: 10px
		}
	}
	.best {
		background-color: $dark_purple;
		min-height: 22vw;
		box-shadow: none;
		* {color: #fff} // Bad Practice
	}
	.btlr { border-top-left-radius: 10px; }
	.bblr { border-bottom-left-radius: 10px; }
	.btrr { border-top-right-radius: 10px; }
	.bbrr { border-bottom-right-radius: 10px; }
	.br { border-radius: 10px; }
}

.subtitle {
	text-align: left;
	width: 100%;
	margin: 35px 0px;
	font-size: 1.3rem;
}

.top_ten {
	width: 100%;
	.user {
		width: calc((100vw / 5) - 37px);
		height: calc((100vw / 5) - 37px);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: #ffffff;
		margin: 0 20px 20px 0;
		float: left;
		flex-direction: column;
		overflow: hidden;
		&:nth-child(5n) {
			margin-right: 0px;
		}

		.user_avatar {
			background-color: $purple;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 1rem;
			width: 50px;
			height: 50px;
			border-radius: 25px;
			margin-bottom: 10px;
		}
		.points_container { margin-bottom: 10px; }
		h2 { font-size: 0.9rem; }
	}
}
.copyright {
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
}